# Go
/bin/
*.test
coverage.out

# Helm
**/Chart.lock
**/charts/*.tgz

# Các file ghi đè cục bộ, tuyệt đối không được lọt vào repo GitOps
**/*.local.yaml
.env
.envrc

# Trình soạn thảo
.DS_Store
.idea/
.vscode/
